@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

@keyframes apparition_progressive{

	from{

		top: 15px;
		opacity: 0;

	}

	to{

		top: 0px;
		opacity: 1;

	}

}


@keyframes bouton_hover{

	from{

		opacity: 1;
		box-shadow: 2px 2px 8px #B3B3B3;

	}

	to{

		opacity: 0.8;
		box-shadow: 8px 8px 8px #B3B3B3;

	}

}

@keyframes bouton_normal{

	from{

		opacity: 0.8;
		box-shadow: 8px 8px 8px #B3B3B3;

	}

	to{

		opacity: 1;
		box-shadow: 2px 2px 8px #B3B3B3;

	}

}


h1,h2,footer h4{

	font-family: 'Shrikhand',sans-serif;

}

footer h4{

	font-weight: normal;
	font-size: 1.2em;
	margin-top: 20px;

}

h1{

	text-align: center;
	margin: 0;

}

h2{

	margin: 0;

}

span{

	font-family: 'Roboto'; 
	font-weight: 600;

}

.menu h3,.menu p{

	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-weight: normal;
	

}

.menu h4{

	margin: 0 0 5px 0;
	padding: 0;
	font-family: 'Roboto';

}

.menu{

	margin-bottom: 30px;

}

.sous_menu{

	position: relative;
	padding: 0px 10px 0px 10px;
	width: 90%;
	height: 65px;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 15px;
	display: flex;
	align-items: center;

}

.texte{

	position: relative;
	width: 100%;
	transition: .5s;

}

.texte p{

	font-size: 0.9em;

}

.sous_menu:hover{

	cursor: pointer;
}

.sous_menu:hover .validation{

	width: 20%;

}

.sous_menu:hover .texte{

	position: relative;
	width: 80%;

}

.sous_menu:hover .cercle{

	background-color: white;
	opacity: 1;

}

.sous_menu:hover .cercle i{

	transform: rotate(360deg);

}

.validation{

	position: relative;
	left: 10px;
	width: 0px;
	height: 100%;
	background-color: #99E2D0;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	transition: .5s;
	
}

.cercle{

	position: relative;
	width: 22px;
	height: 22px;
	background-color: white;
	border-radius: 40px;
	margin: auto;
	margin-top: 21px;
	line-height: 23px;
	text-align: center;
	opacity: 0;
	transition: 0.5s;

}

.cercle i{

	color: #99E2D0;
	transition: .5s;

}

.un{

	opacity: 0;
	animation: apparition_progressive 1s forwards;

}

.deux{

	opacity: 0;
	animation: apparition_progressive 1s forwards;
	animation-delay: 0.3s;

}

.trois{

	opacity: 0;
	animation: apparition_progressive 1s forwards;
	animation-delay: 0.6s;
}

.quatre{

	opacity: 0;
	animation: apparition_progressive 1s forwards;
	animation-delay: 0.8s;

}

.sous_menu p{

	margin: 0;

}

.barre{

	position: relative;
	height: 3px;
	width: 40px;
	background-color: #3EEBC3;
	margin-bottom: 20px;

}

.complement_menu{

	display: flex;
	justify-content: space-between;
	align-items: center;

}

.masque{

	width: 75%;
	overflow: hidden;
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;

}

header img{

	position: relative;
	top: 40px;
	z-index: -1;
	width: 100%;
	height: 270px;
	margin-top: 15px;
	object-fit: cover;

}

header a{

	position: relative;
	top: 37px;
	left: 20px;
	color: black;
	opacity: 0.8;
	font-size: 1.3em;
}

section{

	align-items: center;
	padding: 20px 0px 40px 12px;
	position: relative;
	background-color: #F6F6F6;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;

}

.coeur{
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: -30px;
	
	

}

.coeur1{

	position: relative;
	font-size: 1.5em;
	color: transparent;
	left: 24px;
	top: 1px;
	z-index: 1;
	transition: 0.5s;

}

.coeur2{

	font-size: 1.55em;
	opacity: 0.5;

}

.coeur1:hover{

	color: #D172F7;
	cursor: pointer;

}

.bouton{

	position: relative;
	text-align: center;
	margin-top: 40px;

}

input{

	animation: bouton_normal .5s forwards;
	position: relative;
	width: 200px;
	height: 40px;
	text-align: center;
	border-style: none;
	background : linear-gradient(#FF79DA,#9356DC);
	box-shadow: 2px 2px 8px #B3B3B3;
	border-radius: 25px;
	color: white;

}

input:hover{

	animation: bouton_hover normal .5s forwards;
	cursor: pointer;

}

.ic_p{

	display: flex;
	align-items: center;

}

.ic_p a{

	margin-left: 10px;
	font-weight: 300;

}

.ic_p i{

	position: relative;
	top: -4px;
	font-size: 0.8em;
	width: 15px;
	text-align: center;


}

footer{

	background-color: #2F3C39;
	text-align: center;
	color: white;
	padding: 5px 15px 30px 15px;

}

footer a{

	cursor: pointer;
	text-decoration: none;
	color: white;
	font-family: 'Roboto';
	padding: 0px;
	margin: 0px 0px 10px 0px;

}

footer a:hover{

	text-decoration: underline;

}

.text_footer{

	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

@media screen and (max-width: 560px){

footer{

	text-align: left;
}

.text_footer{

	flex-direction: column;
}

}

@media screen and (min-width: 561px) and (max-width: 800px){

.menu{

	width: 50%;

}

.ensemble{

	display: flex;
	flex-wrap: wrap;

}

section{

	margin: 0;

}

.bouton{

	text-align: center;
	margin: 0;

}

}

@media screen and (min-width: 801px){


.menu{

	width: 30%;

}

.ensemble{

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

section{

	padding: 20px 15px 20px 15px;
	margin: 0;

}

.bouton{

	text-align: center;
	margin: 0;

}




}